body {
    font-size: 1em;
    line-height: 1.4;
	background-color: $extra-color-6;

	@extend %font-lato;

    // Modernizr fallback for when there is no fontface support
    .no-fontface & {
    	font-family: "sans-serif";
    }
}
ul,li {
    margin: 0;
    padding: 0;
}
a {
    color: $extra-color-5;
}
::-moz-selection {
    background: $extra-color-1;
    text-shadow: none;
}
::selection {
    background: $extra-color-1;
    text-shadow: none;
}
::-webkit-scrollbar {
	width: .6em;
}
::-webkit-scrollbar-track {
	@include background($extra-color-4);
}
::-webkit-scrollbar-thumb {
	@include background($extra-color-5);
	@include border-radius(1em);
}
::-webkit-scrollbar-thumb:hover {
	background: darken($extra-color-5, 5%);
}
