// ===============================================
//	LATO (https://fonts.google.com/specimen/Lato)
// ===============================================

// Light
@font-face {
    font-family: 'LatoLight';
    src: font-url('Lato/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
// Regular
@font-face {
    font-family: 'LatoRegular';
    src: font-url('Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
// Bold
@font-face {
    font-family: 'LatoBold';
    src: font-url('Lato/Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
// Black
@font-face {
    font-family: 'LatoBlack';
    src: font-url('Lato/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
