<div class="container-context">
	<div class="social">
		<div class="social-wrapper">
			<h3 class="hl-2">REDES SOCIALES</h3>
			<ul>
				<li class="social-item"><a class="social-icon-facebook" href="https://facebook.com" target="blank">facebook</a></li>
				<li class="social-item"><a class="social-icon-instagram" href="https://twitter.com" target="blank">instagram</a></li>
				<li class="social-item"><a class="social-icon-twitter" href="https://instagram.com" target="blank">twitter</a></li>
			</ul>
		</div>
	</div>
	<div class="site-map">
		<div class="site-map-wrapper">
			<h3 class="hl-2">MAPA DEL SITIO</h3>
			<ul>
				<li class="site-map-item"> <i class="zmdi zmdi-chevron-right"></i> <a href="#">Inicio</a></li>
				<li class="site-map-item"> <i class="zmdi zmdi-chevron-right"></i> <a href="#">Términos y Condiciones</a></li>
				<li class="site-map-item"> <i class="zmdi zmdi-chevron-right"></i> <a href="#">Aviso de Privacidad</a></li>
				<li class="site-map-item"> <i class="zmdi zmdi-chevron-right"></i> <a href="#">Seguidad</a></li>
				<li class="site-map-item"> <i class="zmdi zmdi-chevron-right"></i> <a href="#">Contáctanos</a></li>
				<li class="site-map-item"> <i class="zmdi zmdi-chevron-right"></i> <a href="#">Acerca de Bright</a></li>
			</ul>
		</div>
	</div>
</div>
