<div class="navbar">
	<div class="navbar-container">
		<div class="navbar-logo">
			<h1>A CERTAIN COMPANY</h1>
		</div>
		<div class="navbar-nav">
			<div class="navbar-nav-item">
				<a href="#">INICIO</a>
			</div>
			<div class="navbar-nav-item">
				<a href="#">EXPERIENCIA</a>
			</div>
			<div class="navbar-nav-item">
				<a href="#">CONTACTO</a>
			</div>
			<div class="navbar-nav-item">
				<a href="#">REGISTRARSE</a>
			</div>
			<div class="navbar-nav-item">
				<a href="#">ENTRAR</a>
			</div>

			<!-- Mobile Menu -->
			<ul class="mobile-menu">
				<li class="mobile-menu-item">
					<a href="#">INICIO</a>
				</li>
				<li class="mobile-menu-item">
					<a href="#">EXPERIENCIA</a>
				</li>
				<li class="mobile-menu-item">
					<a href="#">CONTACTO</a>
				</li>
				<li class="mobile-menu-item">
					<a href="#">REGISTRARSE</a>
				</li>
				<li class="mobile-menu-item">
					<a href="#">ENTRAR</a>
				</li>
			</ul>
			<i id="mobile-menu-toggle" class="fa fa-bars fa-2x">X</i>
		</div>
	</div>
</div>
