<article>
	<div>
		<span class="steps-icon-search"></span>
		<p class="hl-3">Busca el producto que deseas</p>
	</div>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea nemo at expedita eos nihil iure iusto ex blanditiis? Nostrum earum quaerat autem blanditiis repudiandae eos repellat neque dolor quod quidem?
	</p>
</article>

<article>
	<div>
		<span class="steps-icon-kart"></span>
		<p class="hl-3">Compralo</p>
	</div>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea nemo at expedita eos nihil iure iusto ex blanditiis? Nostrum earum quaerat autem blanditiis repudiandae eos repellat neque dolor quod quidem?
	</p>
</article>

<article>
	<div>
		<span class="steps-icon-like"></span>
		<p class="hl-3">Entrega inmediata</p>
	</div>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea nemo at expedita eos nihil iure iusto ex blanditiis? Nostrum earum quaerat autem blanditiis repudiandae eos repellat neque dolor quod quidem?
	</p>
</article>
